[build]
  publish = "frontend"

[[redirects]]
  from = "/api/*"
  to = ":BACKEND_URL/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
